h1 {
  font-size: 1.75rem;
}

h1:has(+ form) {
  margin-block-end: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

footer h3 {
  font-weight: 500;
  font-size: 1.1rem;
}

a {
  color: var(--link);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.125rem;
}

a.shop-menu-link {
  color: var(--shop-menu-link);
  text-transform: uppercase;
}

footer a {
  color: var(--muted);
  font-weight: 500;
  text-decoration: none;
}

a:active,
a.active {
  color: var(--link-active);
}

a:hover,
a:focus {
  color: var(--link-hover);
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: var(--white);
}

footer #copyright a {
  color: var(--white);
}
