.itemItemCardImage {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 17rem;
  height: 18rem;
  border-radius: var(--border-radius);
  background-position: center center;
  background-size: cover;
}

.addFavouriteButton,
.viewItemButton {
  position: absolute;
  visibility: hidden;
}

.addFavouriteButton {
  top: 0;
  padding: 0.5rem;
  color: var(--color-black);
  inset-inline-end: 0;
}

.viewItemButton {
  bottom: 0;
  width: calc(100% - 1rem);
  margin: 0.5rem;
  padding: 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  transition: transform 0.5s ease, visibility 0.5s;
  transform: translateY(100%);
}

.itemItemCardImage:hover .addFavouriteButton {
  visibility: visible;
}

.itemItemCardImage:hover .viewItemButton {
  visibility: visible;
  transform: translateY(0);
}
