@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: theme('colors.ecommerce.100');
  --color-black: theme('colors.ecommerce.900');

  --border-color: theme('colors.ecommerce.500');
  --border-radius: theme('borderRadius.default');
  --input-background: theme('colors.ecommerce.100');
  --button-bg-color: theme('colors.ecommerce.900');
  --link: theme('colors.ecommerce.900');
  --link-hover: theme('colors.ecommerce.600');
  --link-active: theme('colors.ecommerce.500');
  --shop-menu-link: theme('colors.ecommerce.200');
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: theme('colors.ecommerce.600');
    --button-bg-color: theme('colors.ecommerce.600');
    --link: theme('colors.ecommerce.100');
    --shop-menu-link: theme('colors.ecommerce.300');
    --input-background: theme('colors.ecommerce.900');
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
}

h1 {
  margin-block: 1.5rem;
  font-size: 1.75rem;
}

h2 {
  margin-block: 1.25rem;
  font-size: 1.50rem;
}

h3 {
  margin-block: 1rem;
  font-size: 1.25rem;
}

input,
select,
textarea {
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--input-background);
}

select {
  border-right: 12px solid transparent;
}

button {
  margin-block-start: 1rem !important;
  padding: 0.75rem;
  border-radius: 0.25rem;
  /* font-size: 0.75rem; */
  /* font-weight: 500; */
  /* text-transform: uppercase; */
}

button[type=submit] {
  background-color: var(--button-bg-color) !important;
  color: var(--color-white);
}

hr {
  margin-block: 2rem;
  border-color: var(--border-color);
}

a {
  color: var(--link);
  font-weight: 600;
}

a:active,
a.active {
  color: var(--link-active);
}

a:hover,
a:focus {
  color: var(--link-hover);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

a.shop-menu-link {
  color: var(--shop-menu-link);
  text-transform: uppercase;
}

section {
  padding: 1rem;
  /* border-radius: var(--border-radius); */
  /* background-color: var(--background-secondary); */
}

footer h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

footer a {
  color: theme('colors.ecommerce.400');
  font-weight: 500;
}

footer a:hover,
footer a:focus {
  color: theme('colors.ecommerce.500');
}

footer #copyright a {
  color: theme('colors.ecommerce.500');
}