/* stylelint-disable selector-pseudo-class-no-unknown */

.header {
  position: relative;
  z-index: 20;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100dvw;
  padding: 1rem;
  background-color: theme("colors.ecommerce.200");
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
}

@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: max-content 2fr;
    gap: 2rem;
    transition: none;
    transition-delay: initial;
  }
}

@media screen and (min-width: 1535px) {
  .header {
    width: 1440px;
    margin-inline: auto;
  }
}

:global(.dark) .header {
  background-color: theme("colors.ecommerce.800");
}

.header.menuOpened {
  position: fixed;
  grid-template-rows: repeat(2, max-content);
  gap: 2rem;
  height: 100dvh;
  background-color: theme("colors.ecommerce.100");
  text-align: center;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
}

@media screen and (min-width: 768px) {
  .header.menuOpened {
    transition: none;
    transition-delay: initial;
  }
}

:global(.dark) .header.menuOpened {
  background-color: theme("colors.ecommerce.900");
}

body:has(.header.menuOpened) {
  overflow: hidden;
}

.menuIconContainer {
  position: absolute;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform: rotate(0deg);
  -webkit-tap-highlight-color: transparent;
}

.header.menuOpened .menuIconContainer {
  top: 1rem;
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .menuIconContainer {
    display: none;
  }
}

.menuIcon {
  position: relative;
  top: 50%;
  display: block;
  width: 2rem;
  height: 2rem;
  margin: -0.25rem auto 0;
}

.header.menuOpened .menuIcon {
  left: 25%;
}

.menuIconTopBar {
  position: relative;
  display: block;
  height: 0.125rem;
  background-color: var(--foreground);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
  transform: translateY(0) rotate(0deg);
}

.header.menuOpened .menuIconTopBar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
  transform: translateY(0.35rem) rotate(45deg);
}

.menuIconBottomBar {
  position: relative;
  display: block;
  height: 0.125rem;
  background-color: var(--foreground);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
  transform: translateY(0.375rem) rotate(0deg);
}

.header.menuOpened .menuIconBottomBar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
  transform: translateY(0.25rem) rotate(-45deg);
}

.title {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.menu {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  width: 0;
  height: 0;
}

.header.menuOpened .menu {
  width: 100dvw;
  height: auto;
}

@media screen and (min-width: 768px) {
  .menu {
    grid-auto-flow: column;
    gap: 0.25rem;
    justify-content: end;
    align-items: center;
    width: auto;
    height: auto;
  }
}

.menuItem {
  display: flex;
  justify-content: center;
  opacity: 0%;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform: scale(1.15) translateY(-1.875rem);
}

.header.menuOpened .menuItem {
  opacity: 100%;
  transform: scale(1) translateY(0);
}

.header.menuOpened .menuItem:nth-last-of-type(1) {
  order: 2;
}

.header.menuOpened .menuItem:nth-last-of-type(2) {
  order: 1;
}

@media screen and (min-width: 768px) {
  .menuItem {
    margin-top: 0;
    opacity: 100%;
    transition: none;
    transform: none;
  }
}

.menuItemIcon {
  display: none;
}

@media screen and (min-width: 768px) {
  .menuItemIcon {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    color: var(--foreground);
  }
}

.menuItemLabel {
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .menuItemLabel {
    display: none;
  }
}

.accountMenuItem:hover {
  font-weight: 500;
  cursor: pointer;
}

.accountMenuItemLink {
  font-weight: 400;
  text-decoration: none;
}

.accountMenuItemLink:hover {
  color: var(--foreground);
  font-weight: 500;
}

.header.menuOpened .menuItem:nth-child(1) {
  transition-delay: calc(0.07 * 1.2s);
}

.header.menuOpened .menuItem:nth-child(2) {
  transition-delay: calc(0.07 * 2.2s);
}

.header.menuOpened .menuItem:nth-child(3) {
  transition-delay: calc(0.07 * 3.2s);
}
