.starRating {
  display: flex;
  align-items: center;
}

.star {
  cursor: pointer;
}

.star svg {
  width: 2rem;
  height: 2rem;
  stroke-width: 0;
}

.star.invalid svg {
  stroke: var(--destructive);
  stroke-width: 30;
}
