/* stylelint-disable no-unknown-animations */
@import "./animations.css";

.PopoverArrow {
  box-shadow: var(--box-shadow);
  fill: var(--popover);
  stroke: var(--muted);
}

.PopoverContent {
  min-width: 18rem;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--popover);
  color: var(--popover-foreground);
  box-shadow: var(--box-shadow);
  outline: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.PopoverContent[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
}

.PopoverContent[data-state="open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}

.PopoverContent[data-state="open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}

.PopoverContent[data-state="open"][data-side="left"] {
  animation-name: slideRightAndFade;
}
