.PopoverArrow {
  box-shadow: 0 10px 38px -10px rgb(22 23 24 / 35%), 0 10px 20px -15px rgb(22 23 24 / 20%);
  fill: var(--popover);
  stroke: var(--muted);
}

.PopoverContent {
  min-width: 18rem;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--popover);
  color: var(--popover-foreground);
  /* box-shadow: var(--box-shadow); */
  box-shadow: 0 10px 38px -10px rgb(22 23 24 / 35%), 0 10px 20px -15px rgb(22 23 24 / 20%);
  outline: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.PopoverContent[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
}

.PopoverContent[data-state="open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}

.PopoverContent[data-state="open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}

.PopoverContent[data-state="open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0%;
    transform: translateY(2px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0%;
    transform: translateX(-2px);
  }

  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0%;
    transform: translateY(-2px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0%;
    transform: translateX(2px);
  }

  to {
    opacity: 100%;
    transform: translateX(0);
  }
}
